.wd-search-settings-button {
    float: right;
    margin: 12px 12px 0 0;
}

.wd-search-settings-image {
    width: 22px;
    height: 22px;
}

.wd-search-bar {
    padding: 16px 16px 16px 16px;
    overflow: hidden;
}

.wd-search-input {
    width: 100%;
    border: none;
    border-radius: 20px;
}

.wd-menu-links {
    width: available;
    margin: 0;
    padding: 0 16px 16px 16px;
    overflow: hidden;
}

.wd-menu-links > li {
    width: 16%;
    list-style: none;
    text-align: center;
    margin: 0;
    float: left;
}

.wd-menu-links > li > a {
    color: rgb(110, 118, 125);
    font-size: 15px;
}

.wd-menu-links > .wd-menu-selected > a {
    color: rgb(29, 161, 242);
}

.wd-suggested-posts {
    /*width: fit-content;*/
}

.wd-tuit {
    border-top-style: solid;
    border-color: rgb(47, 51, 54);
    overflow: hidden;
}

.wd-tuit-author-pos {
    display: block;
    overflow: hidden;
    margin: 13px 0 0 13px;
    font-size: 13px;
}

.wd-tuit-topic-color {
    color: rgb(110, 118, 125);
}

.wd-tuit-body {
    display: block;
    overflow: hidden;
    margin: 0 0 5px 13px;
    font-size: 16px;
    color: white;
}

.wd-tuit-tuits {
    margin: 0 0 0 13px;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-tuit-image-preview {
    width: 100px;
    height: 100px;
    float: right;
    margin: 16px;
}

.wd-tuit-author-color {
    color: white;
}



